.body {
    margin-top: 200px;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: calc(100% + 250px);
    transform: translate(-50%, -75%);
    background-color: #d2e3eb;
    border-radius: 0 0 10px 10px;
}

.content {
    width: 100%;
    height: 400px;
    z-index: 2;
    border-radius: 10px;
    background-color: #d2e3eb;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.input {
    margin-left: 25px;
}

.monkey {
    height: 200px;
    width: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-image: url("../../assets/monkey.png");
    position: absolute;
    top: calc(50% - 150px);
    left: calc(100% + 250px);
    z-index: 0;
    transform: translate(-50%, -75%);
    background-color: #d2e3eb;
    border-radius: 10px 10px 0 0;
}

.backArrow{
    z-index: 20;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background-image: url("https://www.freeiconspng.com/thumbs/arrow-icon/right-arrow-icon-27.png");
    background-size: contain;
}

.leftArm,
.rightArm {
    height: 200px;
    width: 100%;
    position: absolute;
    top: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    transition: all 0.5s ease-in;
    z-index: 1;
}

.leftEye,
.rightEye {
    height: 8px;
    width: 8px;
    border-radius: 4px;
    position: absolute;
    top: 100px;
    background-color: white;
}

.rightEye {
    left: 228px;
}

.leftEye {
    left: 163px;
}

.leftArm {
    background-image: url("../../assets/left.png");
    transform: rotate(45deg);
    left: 80px;
}

.rightArm {
    background-image: url("../../assets/right.png");
    transform: rotate(-45deg);
    left: -80px;
}

.moveLeft {
    top: 0;
    left: 0;
    transform: rotate(0deg);
}

.moveRight {
    top: 0;
    left: 0;
    transform: rotate(0deg);
}

.divider {
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to right, transparent, #bed6e1, transparent);
    position: absolute;
    z-index: 3;
}

.name {
    display: block;
    text-align: center;
}

input {
    height: 36px;
    width: 346px;
    font-size: 24px;
    font-family: monospace;
    outline: none;
    border: none;
}

.passwordMeter {
    width: 346px;
    height: 4px;
    background-color: black;
    display: flex;
}

.passwordMeter>* {
    height: 4px;
    width: calc(25% - 3px);
    background-color: rgb(92, 92, 92);
    border-right: black 3px solid;
}

.fourthBar {
    border-right: none !important;
    width: 25% !important;
}

.button {
    text-align: center;
    margin-left: 100px;
    width: 200px;
    height: 50px;
    background-color: #bed6e1;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    user-select: none;
    cursor: pointer;
}

.correction{
    font-size: 60%;
    color: red;
}

.center{
    width: 100%;
    text-align: center;
}

.changeType {
    width: 400px;
    font-size: 90%;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.spin {
    animation: spinAnim 1s 1 forwards ease-in-out;
}

@keyframes spinAnim {
    0% {
        transform: translate(-50%, -75%) rotateY(0);
    }

    50% {
        transform: translate(-50%, -75%) rotateY(90deg);
    }

    100% {
        transform: translate(-50%, -75%) rotateY(0deg);
    }
}

.appear{
    animation: appearAnimation 1s ease-in-out forwards;
}

@keyframes appearAnimation {
    100% { left: 50%; }
}

.hide{
    animation: hideAnimation 1s ease-in-out forwards;
}

@keyframes hideAnimation {
    0% { left: 50%; }
    100% { left: calc(100% + 250px); }
}